<header>
    <h1>{{title}}</h1>
</header>

<div class="main-pics">
    <img class="img1" src="https://opengameart.org/sites/default/files/card%20back%20orange.png">
    <img class="img2" src="https://opengameart.org/sites/default/files/card%20back%20orange.png">
    <img class="img3" src="https://opengameart.org/sites/default/files/card%20back%20orange.png">
</div>


<h4>Let's fetch a new deck for you!</h4>

<div class="user-input-section">
    <button mat-raised-button color="warn" (click)="play.getDeck()" routerLink="/play">Begin</button>
</div>