mat-grid-tile {
    background: #1CAC78;
    border-radius: 25px;
}

mat-grid-list {
    margin: 10px 150px;
    min-width: 650px;
}

.drawn-cards {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.question-prompt {
    margin-top: 1rem;
}

img {
    height: 200px;
}